.about-header {
  width: 100%;
  margin-top: 8em;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.about-header h1 {
  overflow: hidden;
  margin-left: 5vw;
  margin-right: 5vw;
  position: relative;
  left: -0.75vw;
  font-size: 20vw;
  line-height: 0.75;
}

.informations {
  margin: 2em;
  padding: 2em;
  display: flex;
  gap: 2em;
  border: 1px dashed var(--fg);
  border-radius: 1em;
}

.informations-col:nth-child(1) {
  position: relative;
  flex: 2;
  border: 1px dashed var(--fg);
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.informations-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.informations-col a {
  font-family: "Messina Sans";
  text-decoration: underline;
}

.informations-col:nth-child(1) p {
  position: relative;
  color: var(--bg);
  z-index: 1;
}

.informations-col:nth-child(2) {
  flex: 4;
}

.informations-col h4 {
  margin-bottom: 1em;
}

.informations-list {
  display: flex;
  flex-direction: column;
}

.information-list-row {
  width: 100%;
  display: flex;
  gap: 2em;
}

.information-list-col:nth-child(1) {
  flex: 2;
}

.information-list-col:nth-child(2) {
  flex: 4;
}

.information-list-row {
  padding: 2em 0;
  border-top: 1px dashed var(--fg);
}

.sami-trucs {
  margin: 2em;
  padding: 0em 2em 2em 2em;
  border: 1px dashed var(--fg);
  border-radius: 1em;
}

.sami-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.sami-list-row {
  display: flex;
  gap: 2em;
}

.sami-truc {
  position: relative;
  flex: 1;
  padding: 1em;
  aspect-ratio: 5/2.5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.5em;
  border: 1px dashed var(--fg);
  border-radius: 1em;
  overflow: hidden;
}

.sami-truc-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.sami-truc h4,
.sami-truc p {
  color: var(--bg);
}

@media (max-width: 1000px) {
  .about-header {
    padding: 1.25em;
  }

  .sami-trucs {
    margin: 1.25em;
  }

  .sami-trucs {
    padding: 0em 1.25em 1.25em 1.25em;
  }

  .sami-list-row {
    flex-direction: column;
    gap: 1.25em;
  }

  .sami-list {
    gap: 1.25em;
  }

  .informations {
    flex-direction: column;
    margin: 1.25em;
    padding: 1.25em;
  }

  .informations-col:nth-child(1) {
    aspect-ratio: 5/3;
  }

  .information-list-row {
    flex-direction: column;
    gap: 1em;
  }
}
