.preloader-wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--plbg);
  font-family: "Neue Montreal", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  will-change: opacity;
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}

body.preloader-active {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

.preloader-container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1em;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.preloader-container .pl_col {
  position: relative;
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.pl_col .pl_item {
  position: relative;
  flex: 1;
  width: 100%;
  background: #222;
  overflow: hidden;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.pl_col .pl_item.empty-item {
  background: var(--plfg);
}

.pl_col .pl_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.pl_c-1, .pl_c-3, .pl_c-5 {
  top: 100%;
  will-change: transform;
}

.pl_c-1 .pl_item, .pl_c-3 .pl_item, .pl_c-5 .pl_item {
  top: 100%;
  will-change: transform;
}

.pl_c-2 .pl_item, .pl_c-4 .pl_item {
  top: -100%;
  will-change: transform;
}