.project-header {
    width: 100vw;
    height: 50dvh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5em;
    padding-bottom: 3em;
    text-align: center;
  }
  
  .project-banner-img {
    position: relative;
    width: 100svw;
    height: 100dvh;
    overflow: hidden;
  }
  
  
  .project-banner-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .project-details {
    width: 40%;
    padding: 6em 1em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4em;
  }
  
  .details {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .details a h4 {
    text-decoration: underline;
  }
  
  .project-container {
    width: 100%;
  }
  
  .section-full-video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .section-full-video video {
    width: 100%;
    height: auto;
    display: block;
    max-height: 100dvh;
  }
  
  .section-half {
    display: flex;
    width: 100%;
  }
  
  .section-half video {
    width: 100%;
  }
  
  .section-half .section-text,
  .section-half .section-media {
    flex: 1;
    padding: 20px;
  }
  
  .section-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .section-text p {
    font-family: "Rader";
    width: 70%;
    font-size: 1.8vw;
    margin: 10dvh 0;
  }
  
  .section-media img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .project-img {
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
  }
  
  .project-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
  }
  
  .next-project {
    width: 100vw;
    height: 100dvh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    text-align: center;
  }
  
  .next-project-img {
    position: relative;
    width: 35%;
    height: 400px;
    overflow: hidden;
  }
  
  .next-project-img-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  @media (max-width: 1000px) {
    .project-header {
      padding: 1.25em 1.25em 0em 1.25em;
    }
  
    .project-details {
      width: 100%;
      padding: 0em 1.25em 6em 1.25em;
      gap: 3em;
    }
  
    .next-project {
      padding: 1.25em;
    }
  
    .next-project-img {
      width: 75%;
    }
  
    .project-img {
      height: 65dvh;
    }
  
  
    .section-text p {
      margin: 0;
      font-size: 3vw;
      width: 80%;
    }
  }
  