
.menu-toggle {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .theme-toggle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    height: 40px;
    width: 60px;
    right: 80px;
    border-radius: 0.6rem;
    background: transparent;
    transition: all 300ms;
    border: var(--border);
  }
  
  .theme-toggle:hover {
    background: var(--bg-menu-hover);
  }

  .theme-toggle img {
    width: 24px;
    height: 24px;
  }