.header404-container {
  position: absolute;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header404>span {
  font-family: "Rader";
  font-size: 45vw;
  position: relative;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.footer404 {
  opacity: 0;
  position: fixed;
  bottom: 10em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer404 span {
  position: relative;
  top: 30px;
  text-decoration: none;
  font-family: "Rader";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  font-size: 3vw;
}

.footer404-wrapper:after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 110%;
  height: 100%;
  background: #fff;
  margin: 0 auto;
  transition: 1s;
}

@media (orientation: portrait) {

  .header404>span {
    font-size: 50vh;
  }

  .footer404 span {
    top: -15vh;
    font-size: 5vw;
  }
}