.header404-container {
    position: absolute;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header404 > span {
    font-family: "Pixter";
    font-size: 40vw;
    position: relative;
  }
  
  .footer404 {
    opacity: 0;
    position: fixed;
    bottom: 5em;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .footer404 span {
    position: relative;
    top: 30px;
    text-decoration: none;
    font-family: "PPNeueBit";
    font-weight: 400;
    font-size: 1.4em;
    transition: 1s;
  }
  
  .footer404-wrapper:after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0;
    width: 110%;
    height: 100%;
    background: #fff;
    margin: 0 auto;
    transition: 1s;
  }

  @media (orientation: portrait) {
  
    .header404 > span {
      font-size: 25vh;
    }
  
    .footer404 span {
        top: -22vh;
      font-size: 1.5em;
    }
  }